---
import SidebarMini from '@/components/layout/Sidebar/SidebarMini.astro'
import Sidebar from '../components/layout/Sidebar/Sidebar.astro'
import { SidebarStateManager } from '@/components/layout/Sidebar/SidebarStateManager'
import '../styles/global.css'
import { TabBar } from '@/components/layout/TabBar/TabBar'
import { VaulDrawer } from '@/components/layout/Drawer/VaulDrawer'

interface Props {
  title?: string
	tabBar?: boolean
}

const { props, cookies, url, request } = Astro
const { title, tabBar } = props
const { pathname } = url

// #region - detectDeviceType
const deviceCode = cookies.get('monado-device-type')?.value
const ua = request.headers.get('user-agent') || ''

const mobileRegex = /(Mobi|Android(?!.*Nexus 7)|iPhone|iPod|Windows Phone|BlackBerry|Symbian|IEMobile|Opera Mini|Fennec|webOS|hpwos|avantgo|bada|blazer|compal|elaine|hiptop|kindle|lge|maemo|midp|mmp|netfront|palm|phone|plucker|pocket|psp|series60|treo|up\.browser|up\.link|vodafone|wap|windows ce|xda|xiino)/i
const tabletRegex = /(iPad|Android(?!.*mobile)|Kindle|Playbook|Silk|Tablet|hpw|webos|Nexus 7)/i

let detectedType = 'desktop'
if (mobileRegex.test(ua)) detectedType = 'mobile'
else if (tabletRegex.test(ua)) detectedType = 'tablet'

const devices: Record<string, string> = { M: 'mobile', T: 'tablet', D: 'desktop' }
const deviceType = devices[deviceCode!] || detectedType
// #endregion

// #region - initialValues
const isSidebarOpen = Astro.cookies.get('_ziso')?.value === '1'
// #endregion
---

<html
	lang='es'
	class='h-full w-full gutter-stable bg-dark'
	data-device-type={deviceType}
	data-using-tab-bar={tabBar}
>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<link rel='icon' href='/favicon.ico' />
		<meta name='viewport' content='width=device-width' />
		<title>{title ? `${title} - Zenith` : 'Zenith'}</title>
		<link rel='preload' href='/assets/Inter.woff2' as='font' type='font/woff2' crossorigin='anonymous' />
		<script>
			// - Detect device type -

			import { useUIStore, type DeviceType } from '@/stores/useUIStore'
			
			const { setDeviceType } = useUIStore.getState()

			function setCookie (name: string, value: string, days: number) {
				const date = new Date()
				date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000))
				const expires = `; expires=${date.toUTCString()}`
				document.cookie = `${name}=${value}${expires}; path=/; SameSite=Lax`
			}
			
			function detectDeviceType () {
				const { dataset } = document.documentElement
				const serverDetectedDeviceType = dataset.deviceType

				const devices: Record<string, DeviceType> = { M: 'mobile', T: 'tablet', D: 'desktop' }
				const ua = navigator.userAgent
				const mobileRegex = /(Mobi|Android(?!.*Nexus 7)|iPhone|iPod|Windows Phone|BlackBerry|Symbian|IEMobile|Opera Mini|Fennec|webOS|hpwos|avantgo|bada|blazer|compal|elaine|hiptop|kindle|lge|maemo|midp|mmp|netfront|palm|phone|plucker|pocket|psp|series60|treo|up\.browser|up\.link|vodafone|wap|windows ce|xda|xiino)/i
				const tabletRegex = /(iPad|Android(?!.*mobile)|Kindle|Playbook|Silk|Tablet|hpw|webos|Nexus 7)/i

				let deviceCode = 'D'

				if (mobileRegex.test(ua) && !/iPad/i.test(ua)) {
					deviceCode = 'M' // Celular
				} else if (tabletRegex.test(ua)) {
					deviceCode = 'T' // Tablet
				}

				const deviceType = devices[deviceCode]

				// Actualizar deviceType sólo si hay diferencia con el servidor
				if (serverDetectedDeviceType !== deviceType) {
					dataset.deviceType = deviceType
					setCookie('monado-device-type', deviceCode, 30)
				}

				setDeviceType(deviceType)
			}

			detectDeviceType()
		</script>
		<script>
			// #region - initialValues

			import { useSidebarStore } from '@/stores/useSidebarStore'

			function getCookie (cookie: string) {
				return document.cookie
          .split('; ')
					.find((c) => c.startsWith(`${cookie}=`))
					?.split('=')
					?.[1]
			}
			

			const isSidebarOpen = getCookie('_ziso') === '1'
			useSidebarStore.setState({ isSidebarOpen })
			
			// #endregion
		</script>
	</head>
	<body class='h-full w-full'>
		<div class='h-full w-full sm:grid grid-cols-[auto_1fr]'>
			<SidebarStateManager initialState={isSidebarOpen} />
			<Sidebar />
			<SidebarMini />
			<main class='w-full h-full'>
				<slot />
			</main>
		</div>
		<TabBar pathname={pathname} client:load />
		<VaulDrawer client:load />
	</body>
</html>
